@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #E5E5E5;
    min-width: 1280px;
}

body {
    font-family: "PT Sans", Verdana, sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    padding: 9px 15px 8px;
}

.button:disabled {
    background-color: #E5E5E5;
} 

.button-basic {
    background-color: #756157;
}

.button-basic:hover, .button-basic:focus {
    background-color: #615048;
}

.button-basic:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.button-second {
    background-color: #82B3D3;
}

.button-second:hover, .button-second:focus {
    background-color: #68A2CA;
}

.button-second:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-selected {
    background-color: #7DB54F;
}

.button-selected:hover, .button-selected:focus {
    background-color: #6C9E42;
}

.button-selected:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.button-big {
    font-size: 20px;
    line-height: 36px;
    padding: 12px 15px;
}

.hotel-search-button {
    width: 574px;
}

.button-form {
    border-radius: 0px 10px 10px 0px;
    width: 200px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-navigation-link {
    display: block;
    position: relative;
    color: inherit;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 20px 17px;
}

.navigation-link-current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 17px;
    right: 17px;
    border-bottom: 2px solid #756257;
}

.list-clear {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-navigation-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: none;
}

.header-navigation-search {
    background-image: url("../images/icons/search.svg");
    display: block;
    width: 42px;
    height: 66px;
    margin: 0;
    border: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}

.header-navigation-favourites {
    background-image: url("../images/icons/heart.svg");
    display: block;
    width: 42px;
    height: 66px;
    margin: 0;
    border: 0;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.count {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: -0.1em;
    background: #7DB54F;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
    top: 15px;
    right: -2px;
}

.header-navigation-button {
    width: 160px;
}

.filter-submit-button {
    width: 160px;
    height: 48px;
    margin-bottom: 20px;
}

.welcome-text {
    display: block;
    position: relative;
}

.welcome-banner {
    background-color: #82B3D3;
}

.welcome-banner::after {
    content: "";
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../images/welcome-group-divider.svg");
    margin-top: -57px;
    position: relative;
    background-repeat: no-repeat;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;
}

.title-description {
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.hotel-search-description {
    margin-bottom: 56px;
}

.email-text {
    margin-bottom: 46px;
}

.features-item {
    margin: 0;
    padding: 0;
}

.features-card {
    min-height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 85px;
}

.features-list {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

.features-list > :nth-child(1), .features-list > :nth-child(2) {
    grid-column: 1/4;
}

.featuers-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.feature-number {
    margin: 0 0 30px;
}

.features-item-description {
    margin: 0;
}

.advantages-city-list {
    display: flex;
}

.advantages-city-item {
    width: 33.3%;
}

.advantages-city-title {
    padding-top: 105px;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    margin: 0 auto 30px;
}

.advantages-city-description {
    margin: 0;
    color: #333333;
}

.advantages-city-hotels {
    background-image: url("../images/icons/advantage-housing.svg");
    background-repeat: no-repeat;
    background-position: left 50% top 25%;
}

.advantages-city-food {
    background-image: url("../images/icons/advantage-eating.svg");
    background-repeat: no-repeat;
    background-position: left 50% top 25%;
}

.advantages-city-souvenirs {
    background-image: url("../images/icons/advantage-souvenir.svg");
    background-repeat: no-repeat;
    background-position: left 50% top 25%;
}

.advantages-city-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.item-color-reverse {
    color: #FFFFFF;
    background: #82B3D3;
}

.item-sqare-tourists {
    background: rgba(131, 179, 211, 0.12);
}

.item-road {
    background: rgba(131, 179, 211, 0.2);
}

.hotel-search {
    text-align: center;
    padding: 90px 70px 93px;
}

.email-subscription {
    height: 411px;
    padding: 94px 70px;
}

.email-subscription-index {
    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url("../images/background-subscription.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.field {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    background: #F2F2F2;
    border: none;
    border-radius: 10px 0px 0px 10px;
    height: 60px;
    padding: 20px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-form-field {
    width: 600px;
}

.footer-contact-phone {
    color: #000000;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 720px;
    margin-right: auto;
}

.footer-contact-phone:hover, .footer-contact-phone:focus {
    color: #756157;
}

.footer-contact-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.hotel-filter {
    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url("../images/background-filter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 21px;
    min-height: 393px;
    background-position: top center;
}

.catalog-title {
    font-size: 60px;
    line-height: 78px;
    margin: 0 0 10px;
}

.breadcrumbs {
    margin-bottom: 40px;
    display: flex;
    align-content: center;
}

.breadcrumb-link {
    font-size: 16px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}

.filter-item-label {
    position: relative;
    display: block;
    margin-bottom: 16px;
    
}

.item-mark {
    position: absolute;
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.item-label {
    font-size: 18px;
    padding-left: 40px;
}

.filter-item-label:hover .item-mark {
    background: rgba(255, 255, 255, 0.6);
}

.filter-item-label:focus .item-mark {
    background: rgba(255, 255, 255, 0.6);
    border: 3px solid #83B3D3;
}

.filter-item-label:active .item-mark {
    background: rgba(255, 255, 255, 0.3);
}

.filter-item-input[type="checkbox"]:checked + .item-mark {
    background-image: url(../images/icons/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.filter-item-input[type="radio"] + .item-mark {
    border-radius: 50%;
}

.filter-item-input[type="radio"]:checked + .item-mark::before {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
    top: 5px;
    left: 5px;
  }

.price-number-scale {
    background: none;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
}

.filter-reset-button {
    background: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    border: none;
    cursor: pointer;
}

.select-control {
    font-family: inherit;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    width: 290px;
    height: 50px;
    padding: 14px 20px;
    line-height: 21px;
    background-image: url("../images/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center right 5%;
    appearance: none;
}

.select-total {
    width: 160px;
    height: 50px;
    margin-left: 51px;
    font-size: 18px;
    line-height: 21px;
}

.product-card-link {
    font-family: inherit;
    font-size: 24px;
    line-height: 28px;
    color: inherit;
    text-decoration: none;
}

.catalog-text-details {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
}

.rating {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    background: #F2F2F2;
    border-radius: 4px;
    color: #333333;
    margin: 0;
}

.pagination-item {
    background: #82B3D3;
    border-radius: 4px;
    border: none;
}

.pagination-item:hover, .pagination-item:focus {
    background-color: #68A2CA;
}

.pagination-item:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-item-current {
    background-color: #F2F2F2;
}

.pagination-link {
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-link-current {
    color:#000000;
}

.main-container {
    flex-grow: 1;
}

.page-header {
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
    align-items: center;
}

.header-navigation {
    display: flex;
    margin: 0;
    padding-left: 169px;
    align-items: center;
}

.header-navigation-list {
    display: flex;
    width: 568px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.header-navigation-item {
    height: 100%;
}

.header-navigation-user {
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-wrap: wrap;
}

.header-navigation-user .header-navigation-item:nth-child(2) {
    margin-right: 20px;
  }

.illustrated-items {
    display: flex;
}

.illustrated-reverse {
    flex-direction: row-reverse;
}

.non-illustrated-items {
    display: flex;
}

.welcome-wrapper {
    padding: 63px 70px 90px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 45px 70px 35px 70px;
}

.social-media-list {
    width: 184px;
    display: flex;
    flex-wrap: wrap;
}

.developer-link {
    display: block;
}

.social-media-item a {
    width: 47px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
}

.social path {
    fill: #83B3D3;
}

.social:hover path {
    fill: #68A2CA;
}

.social:focus path {
    fill: #68A2CA;
}

.social:active path {
    fill: rgba(104, 162, 202, 0.3);
}

.developer-link path {
    fill: #000000;
}

.developer-link:hover path {
    fill: #756157;
}

.developer-link:focus path {
    fill: #756157;
}

.developer-link:active path {
    fill: rgba(117, 97, 87, 0.3);
}

.page-header-logo {
    position: absolute;
    z-index: 2;
    top: 0;
}

.catalog-filter-wrapper {
    padding: 35px 70px 70px;
}

.filter-group {
    border: none;
    padding: 0;
    margin: 0 70px 0 0;
    max-width: 150px;
    min-width: 0;
}

.filter-price-scale {
    margin: 0 0 0 auto;
}

.filter-form {
    display: flex;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.hotel-search-results {
    width: 1056px;
}

.select-wrapper {
    display: flex;
    align-items: center;
    padding: 50px 0 56px;
}

.layout-wrapper {
    display: flex;
    gap: 8px;
    margin-left: 78px;
}

.layout-list {
    background-image: url("../images/icons/layout-list.svg");
    background-repeat: no-repeat;
}

.layout-slideshow {
    background-image: url("../images/icons/layout-slideshow.svg");
    background-repeat: no-repeat;
}

.layout-tile {
    background-image: url("../images/icons/layout-tile.svg");
    background-repeat: no-repeat;
}

.layout-button {
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    background-position: center;
}

.layout-button:hover, .layout-button:active {
    border: 2px solid #000000;
}

.layout-button:focus {
    border: 2px solid #68A2CA;
}

.select-title {
    margin-right: auto;
    margin-bottom: 0;
}

.hotel-catalog-container {
    margin: 0 71px 0 73px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 66px;
}

.product-card {
    max-width: 340px;
    min-height: 438px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: column;
}

.product-card-image {
    display: block;
    width: 100%;
    margin: 0 0 16px;
}

.product-card-title {
    margin: 0 0 16px;
}

.pagination {
    display: flex;
    gap: 8px;
}

.pagination-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E6E6E6;
    padding: 30px 0;
}

.product-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 20px;
    align-items: center;
    margin-top: auto;
}

.product-card-details {
    font-size: 18px;
    line-height: 21px;
}

.range-scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
  }

  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }

  .range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  
  .range-toggle:active {
    border: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  }

  .range-toggle:focus {
    border: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .toggle-min {
    top: -8px;
    left: -10px;
  }
  
  .toggle-max {
    top: -8px;
    right: -10px;
  }

